.DS_Store
node_modules
.env
dist
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.DS_STORE
/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
month.txt
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc
*secret.js
npm-debug.log
yarn-error.log
.build-analytics
/modules/rollup-test/dist/
.bazelrc.user
.ng-dev.user*
.notes.md
baseline.json
.husky/_