<div class="chat-container">
  <div class="message-container">
    <div *ngFor="let message of messageList">
      <app-message
        class="message"
        [message]="message.message"
        [username]="message.username"
      ></app-message>
    </div>
  </div>
  <div class="box">
    <div class="message-input flex-container">
      <mat-form-field appearance="outline" class="message-inputbox">
        <mat-label>Message</mat-label>
        <input matInput required [formControl]="message" />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="send-button"
        (click)="sendMessage()"
      >
        Send
      </button>
    </div>
  </div>
</div>
